.navbar-nav > li > a {
    padding-top: 20px;
}
nav .container-fluid {
    position: fixed;
    background-color: #111;
    width: 100%;
}

.navbar {
    padding: 0;
    z-index: 999;
}

.navbar-nav .dropdown-menu {
    position: inherit;
}

.container-fluid {
    font-family: 'Segoe UI',sans-serif;
    font-size: 5px;
}

.container-fluid .box{
    width: 25%;
    float: left;
}

.card-body .chart {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    line-height: 110px;
    font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid .card-body canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.text-right .btn {
    font-family: 'Source Sans Pro', sans-serif;
}
i.fa {
    padding: 0;
    width: auto;

}
.card:hover {
    display: Inherit;

}