body{

	margin: 0;
	padding: 0;
	font-family: "arial";
	background:#FFFFFF !important;
	position:relative;
    font-family: Helvetica !important;
    font-size: 15px !important;
}
nav .container-fluid {
    position: fixed;
    background-color: #111;
    width: 100%;
}
.navbar {
    padding: 0;
}
.form-control, input[type=text], button {
    font-size: 18px;
    font-family: Helvetica;
    height: 40px;
}
.dropdown-menu {
    z-index: 999;
    position: absolute;
    font-size: 12px;
}
.navbar-nav .dropdown-menu {
    position: absolute;
}
.dropdown-toggle::after {
    display: none;
}
.navbar-header img {
    float: left;
    margin-top: 8px;
    max-height: 60px;
    width: 180px;
}
h1{
	color: #111;
	margin:30px auto;
	display:table;
	text-align:center;
}
i.fa {
	font-size: 25px;
	padding: 9px;
	width: 30px;
	text-align: center;
	text-shadow:1px 1px 1px #000;
}
.leftMenu{
	z-index: 999;
	height: 100%;
	background-color: #262626;
	position: fixed;
	left: 0;
	top:0;
	width: 50px;
	transition: all ease 1s;
	overflow: hidden;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
	box-shadow: 1px 4px 8px 4px rgba(0,0,0,0.3);

}
.hamburger{
	top: 80px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffc107;
	float: right;
	margin-right: 5px;margin-top: 5px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 3px 4px rgba(0,0,0,.5);
	position: relative;
	transform: rotate(0deg);
}
.hamburger.open{
	background-color: tomato;
	transition: all ease .5s;
}
.hamburger:hover {
	box-shadow: none;
	transition: all ease .5s;
	transform: rotate(360deg);
}
.hamburger span{
	width: 60%;
	height: 3px;
	background-color: #000;
	display: block;
	border-radius: 1px;
	float: left;
	margin-left: 20%;
	transition: all ease .3s;
}
.hamburger span:nth-child(1){
	margin-top: 13px;
}
.hamburger span:nth-child(2){
	margin-top: 3px;
}
.hamburger span:nth-child(3){
	margin-top: 3px;
}
.open span:nth-child(1){
	background-color: #fff;
	transform: rotate(45deg);
	transition-timing-function:ease-in-out;
	position: absolute;top: 5px;
	right: 8px;width: 25px;
	transition: all ease .5s;
	border-radius: 10px;
}
.open span:nth-child(2){
	background-color: #fff;
	transition-timing-function: ease-in-out;
	margin-top: 18px;
	opacity: 0;transition: all ease .5s;
}
.open span:nth-child(3){
	background-color: #fff;
	transform: rotate(-45deg);
	transition-timing-function: ease-in-out;
	margin-top: 0px;
	position: absolute;
	top: 18px;
	right: 8px;
	width: 25px;
	transition: all ease .5s;
	border-radius: 10px;
}
.openMenu{
	width: 250px;
	transition: all ease 1s;
	overflow: hidden;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.leftMenuList{
	margin-top: 130px;
	list-style: none;
	padding: 0;
}
.leftMenuList li{
	width: 250px;
	line-height: 40px;
	color: #fff;
	/* border-bottom: 1px solid #ddd; */
	font-size: 13px;
}
.leftMenuList li .dropdown:hover{
	font-size: 15px;
}
.leftMenuList li a{
	text-decoration: none;
	color: #fff;
}
.leftMenuList li a svg{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 0px;
}
.leftMenuList li a span{
	text-decoration: none;
	color: #fff;
	margin-left: 25px;
	width: 100%;
}
.leftMenuList li ul li{
	padding: 0px;
	line-height: 30px;
	transition: all .4s;
	box-sizing: border-box;
}
.leftMenuList li ul li:hover{
	font-size: 15px;
}
.leftMenuList li ul li ul li{
	padding: 5px;
	background: #383838;
}
.leftMenuList li ul li ul li a span{
	color:#ddd;
}
.leftMenuList li ul li ul li:hover{
	font-size: 15px;
	
}
.dropdown {
	color: #fff;
	text-decoration: none;
	margin-bottom: 5px;
	display: block;
	position: relative;
	transition:0.5s;
}
.active + .dropdownlist{
	width: 100%;
	height: auto;
	line-height: 30px;
	padding: 0px;
	margin-left: 0px;

	transition:0.5s;
}
.active + .dropdownlist:hover{
	
}
.dropdownlist{
	width: 0;
	height: 0;
	overflow: hidden;
	transition:0.5s;
}
.dropdown:before{
	font-family: FontAwesome;
	content: "\f105";
	transition: all .4s;
	padding-right: 5px;
	right: 20px;
	position: absolute;
	top: 4px;
}
.dropdown.active:before{
	font-family: FontAwesome;
	content: '\f107';
	transition: all .4s;
	padding-right: 5px;
}
.leftMenu:not(.openMenu) li > .dropdownlist{
	pointer-events: none;height:0;
}
.text-shadow{
	text-shadow: 1px 1px 0px #000;
}
.text-color{
	/*color: #00BCD4;*/ color:#99A85B;
}
.close{
	opacity: .6 !important;
}

.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;

    
}
.cards h2{
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	display: inline;
}
.cards li {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    
}
.margin-left{
    padding-left: 20px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.margin-left:hover{
    overflow: visible;
    white-space: normal;
}
.bold{
   	font-weight: bold;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
td {
	padding-bottom: 20px;
	font-size: 15px;

}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
.edit {
	display: inline;
	float: right;
}

@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css");
.overview-container {

    box-shadow: 0 0 10px black;
    padding:0 15px 0 15px;
    height: 500px;
    width: 1200px;
    margin-bottom: 80px;
}
.leave-container {

	margin-bottom: 200px;
    box-shadow: 0 0 10px black;
    padding:0 15px 0 15px;
    height: 500px;
    width: 1200px;
    margin-bottom: 80px;
    padding-left: 50px;
    
}

.approved {
	color: green;
	text-align: center;
}
.Denied {
	color: red;
	text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}