
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBA HRIS</title>
    <link rel="icon" href="~/images/exam2.png">
    <link href="~/css/Accounting.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="own_container">
        <h1 class="text-center" style="line-height: 55px;">

            You are done with the IQ test.
            <br />
            The next part of the exam will be an Accounting exam.
            <br />
            <br />
            Part I. Multiple choices will be 10 items.<br /> Part II. Short exercises will be 5 items.
            <br />
            Time: 15mins
            <br />
          
            <br />
            <a href="@Url.Action("Accountingtest", "Exam", new { })" class="text-right"> Start Exam </a>
        </h1>
        
    </div>
</body>
</html>
