
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBA HRIS</title>
    <link rel="icon" href="~/images/exam.png">
    <link href="~/css/IQtest.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="own_container">
        <h1 class="text-right" style="line-height: 55px;">
            This test aims to assess your capabilities to<br>
            process complex problems in a time pressured<br>
            environment. This test consists of understanding your<br>
            abilities to follow instructions, English
            comprehension,<br> mathematical skills, attention to details and
            logic processing.<br>
            Please read each question carefully, encircle the<br>
            letter which you feel is the best answer.<br>
            For some questions, fill in the blank with the<br>
            correct answer.<br>
            <a href="@Url.Action("IQtest1", "Exam", new { })" class="text-right"> Start Exam </a>
        </h1>
        
    </div>
</body>
</html>
