
@{
    Layout = null;
}

<br><br><br><br>
<!-- Footer -->
<footer class="page-footer font-small blue">
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">

        © @DateTime.Now.Year Copyright:
        <a href="https://dbaadvisory.com" target="_blank"> DBAadvisory.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>
