
@{
    Layout = null;
    
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />

</head>
<link href="~/css/styles.css" rel="stylesheet" />
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/images/DBA-white.png" width="120px" height="60px" />
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="color: #FFFFFF" class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user-circle"></i> Admin <i class="fa fa-sort-desc"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><hr></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <script src="~/Scripts/menu.js"></script>

    <div class="leftMenu">
        <div class="hamburger close"><span></span><span></span><span></span></div>
        <ul class="leftMenuList">
            <li class="dashboard">
                <a href="@Url.Action("Dashboard","Admin")"><i class="fa fa-home" aria-hidden="true"></i><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#" class="dropdown" id="payroll"><i class="fa fa-briefcase" aria-hidden="true"></i><span>Applicant</span></a>
                <ul class="dropdownlist">
                    <li><a href="@Url.Action("AddApplicant","Admin")"><span>Add Applicant</span></a></li>
                    <li><a href="#"><span>List of Applicant</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown" id="payroll"><i class="fa fa-user" aria-hidden="true"></i><span>Employees</span></a>
                <ul class="dropdownlist">
                    <li><a href="#"><span>List of Employees</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="payroll"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><span>Reports</span></a>
            </li>

        <hr>

        <li>
            <a href="#" class="dropdown" id="payroll"><i class="fa fa-gear" aria-hidden="true"></i><span>Admin</span></a>
            <ul class="dropdownlist">
                <li><a href="#"><span>Manage Users</span></a></li>
            </ul>
        </li>
        </ul>
    </div>


    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>